*.o
*.d
*.a
*.so
TAGS
mud
*.cproject
*.project
*.log

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


*.swp
*.DS_Store
*.in

# Intermediate build products from GMP library
aclocal.m4
angelscript.h
autogen.sh
configure.ac
game/database/
gmp-6.2.0/Makefile
gmp-6.2.0/config.h
gmp-6.2.0/config.m4
gmp-6.2.0/config.status
gmp-6.2.0/cxx/Makefile
gmp-6.2.0/demos/Makefile
gmp-6.2.0/demos/calc/Makefile
gmp-6.2.0/demos/calc/calc-config.h
gmp-6.2.0/demos/expr/Makefile
gmp-6.2.0/demos/pexpr-config.h
gmp-6.2.0/doc/Makefile
gmp-6.2.0/gmp-mparam.h
gmp-6.2.0/gmp.h
gmp-6.2.0/gmp.pc
gmp-6.2.0/gmpxx.pc
gmp-6.2.0/libtool
gmp-6.2.0/mpf/Makefile
gmp-6.2.0/mpn/Makefile
gmp-6.2.0/mpn/add.c
gmp-6.2.0/mpn/add_1.c
gmp-6.2.0/mpn/add_err1_n.asm
gmp-6.2.0/mpn/add_err2_n.asm
gmp-6.2.0/mpn/add_err3_n.asm
gmp-6.2.0/mpn/add_n.asm
gmp-6.2.0/mpn/add_n_sub_n.c
gmp-6.2.0/mpn/addaddmul_1msb0.asm
gmp-6.2.0/mpn/addlsh1_n.asm
gmp-6.2.0/mpn/addlsh2_n.asm
gmp-6.2.0/mpn/addlsh_n.asm
gmp-6.2.0/mpn/addmul_1.asm
gmp-6.2.0/mpn/addmul_2.asm
gmp-6.2.0/mpn/and_n.asm
gmp-6.2.0/mpn/andn_n.asm
gmp-6.2.0/mpn/bdiv_dbm1c.asm
gmp-6.2.0/mpn/bdiv_q.c
gmp-6.2.0/mpn/bdiv_q_1.asm
gmp-6.2.0/mpn/bdiv_qr.c
gmp-6.2.0/mpn/binvert.c
gmp-6.2.0/mpn/broot.c
gmp-6.2.0/mpn/brootinv.c
gmp-6.2.0/mpn/bsqrt.c
gmp-6.2.0/mpn/bsqrtinv.c
gmp-6.2.0/mpn/cmp.c
gmp-6.2.0/mpn/cnd_add_n.asm
gmp-6.2.0/mpn/cnd_sub_n.asm
gmp-6.2.0/mpn/cnd_swap.c
gmp-6.2.0/mpn/com.asm
gmp-6.2.0/mpn/comb_tables.c
gmp-6.2.0/mpn/compute_powtab.c
gmp-6.2.0/mpn/copyd.asm
gmp-6.2.0/mpn/copyi.asm
gmp-6.2.0/mpn/dcpi1_bdiv_q.c
gmp-6.2.0/mpn/dcpi1_bdiv_qr.c
gmp-6.2.0/mpn/dcpi1_div_q.c
gmp-6.2.0/mpn/dcpi1_div_qr.c
gmp-6.2.0/mpn/dcpi1_divappr_q.c
gmp-6.2.0/mpn/div_q.c
gmp-6.2.0/mpn/div_qr_1.c
gmp-6.2.0/mpn/div_qr_1n_pi1.asm
gmp-6.2.0/mpn/div_qr_2.c
gmp-6.2.0/mpn/div_qr_2n_pi1.asm
gmp-6.2.0/mpn/div_qr_2u_pi1.asm
gmp-6.2.0/mpn/dive_1.asm
gmp-6.2.0/mpn/diveby3.c
gmp-6.2.0/mpn/divexact.c
gmp-6.2.0/mpn/divis.c
gmp-6.2.0/mpn/divrem.c
gmp-6.2.0/mpn/divrem_1.asm
gmp-6.2.0/mpn/divrem_2.asm
gmp-6.2.0/mpn/dump.c
gmp-6.2.0/mpn/fib2_ui.c
gmp-6.2.0/mpn/fib2m.c
gmp-6.2.0/mpn/gcd.c
gmp-6.2.0/mpn/gcd_1.c
gmp-6.2.0/mpn/gcd_11.asm
gmp-6.2.0/mpn/gcd_22.asm
gmp-6.2.0/mpn/gcd_subdiv_step.c
gmp-6.2.0/mpn/gcdext.c
gmp-6.2.0/mpn/gcdext_1.c
gmp-6.2.0/mpn/gcdext_lehmer.c
gmp-6.2.0/mpn/get_d.c
gmp-6.2.0/mpn/get_str.c
gmp-6.2.0/mpn/hamdist.asm
gmp-6.2.0/mpn/hgcd.c
gmp-6.2.0/mpn/hgcd2.c
gmp-6.2.0/mpn/hgcd2_jacobi.c
gmp-6.2.0/mpn/hgcd_appr.c
gmp-6.2.0/mpn/hgcd_jacobi.c
gmp-6.2.0/mpn/hgcd_matrix.c
gmp-6.2.0/mpn/hgcd_reduce.c
gmp-6.2.0/mpn/hgcd_step.c
gmp-6.2.0/mpn/invert.c
gmp-6.2.0/mpn/invert_limb.asm
gmp-6.2.0/mpn/invert_limb_table.asm
gmp-6.2.0/mpn/invertappr.c
gmp-6.2.0/mpn/ior_n.asm
gmp-6.2.0/mpn/iorn_n.asm
gmp-6.2.0/mpn/jacbase.c
gmp-6.2.0/mpn/jacobi.c
gmp-6.2.0/mpn/jacobi_2.c
gmp-6.2.0/mpn/lshift.asm
gmp-6.2.0/mpn/lshiftc.asm
gmp-6.2.0/mpn/matrix22_mul.c
gmp-6.2.0/mpn/matrix22_mul1_inverse_vector.c
gmp-6.2.0/mpn/mod_1.c
gmp-6.2.0/mpn/mod_1_1.asm
gmp-6.2.0/mpn/mod_1_2.asm
gmp-6.2.0/mpn/mod_1_3.c
gmp-6.2.0/mpn/mod_1_4.asm
gmp-6.2.0/mpn/mod_34lsub1.asm
gmp-6.2.0/mpn/mode1o.asm
gmp-6.2.0/mpn/mu_bdiv_q.c
gmp-6.2.0/mpn/mu_bdiv_qr.c
gmp-6.2.0/mpn/mu_div_q.c
gmp-6.2.0/mpn/mu_div_qr.c
gmp-6.2.0/mpn/mu_divappr_q.c
gmp-6.2.0/mpn/mul.c
gmp-6.2.0/mpn/mul_1.asm
gmp-6.2.0/mpn/mul_2.asm
gmp-6.2.0/mpn/mul_basecase.asm
gmp-6.2.0/mpn/mul_fft.c
gmp-6.2.0/mpn/mul_n.c
gmp-6.2.0/mpn/mullo_basecase.asm
gmp-6.2.0/mpn/mullo_n.c
gmp-6.2.0/mpn/mulmid.c
gmp-6.2.0/mpn/mulmid_basecase.c
gmp-6.2.0/mpn/mulmid_n.c
gmp-6.2.0/mpn/mulmod_bnm1.c
gmp-6.2.0/mpn/nand_n.asm
gmp-6.2.0/mpn/neg.c
gmp-6.2.0/mpn/nior_n.asm
gmp-6.2.0/mpn/nussbaumer_mul.c
gmp-6.2.0/mpn/perfpow.c
gmp-6.2.0/mpn/perfsqr.c
gmp-6.2.0/mpn/popcount.asm
gmp-6.2.0/mpn/pow_1.c
gmp-6.2.0/mpn/powlo.c
gmp-6.2.0/mpn/powm.c
gmp-6.2.0/mpn/pre_mod_1.c
gmp-6.2.0/mpn/random.c
gmp-6.2.0/mpn/random2.c
gmp-6.2.0/mpn/redc_1.asm
gmp-6.2.0/mpn/redc_2.c
gmp-6.2.0/mpn/redc_n.c
gmp-6.2.0/mpn/remove.c
gmp-6.2.0/mpn/rootrem.c
gmp-6.2.0/mpn/rsblsh1_n.asm
gmp-6.2.0/mpn/rsblsh2_n.asm
gmp-6.2.0/mpn/rsblsh_n.asm
gmp-6.2.0/mpn/rsh1add_n.asm
gmp-6.2.0/mpn/rsh1sub_n.asm
gmp-6.2.0/mpn/rshift.asm
gmp-6.2.0/mpn/sbpi1_bdiv_q.c
gmp-6.2.0/mpn/sbpi1_bdiv_qr.c
gmp-6.2.0/mpn/sbpi1_bdiv_r.c
gmp-6.2.0/mpn/sbpi1_div_q.c
gmp-6.2.0/mpn/sbpi1_div_qr.c
gmp-6.2.0/mpn/sbpi1_divappr_q.c
gmp-6.2.0/mpn/scan0.c
gmp-6.2.0/mpn/scan1.c
gmp-6.2.0/mpn/sec_add_1.c
gmp-6.2.0/mpn/sec_div_qr.c
gmp-6.2.0/mpn/sec_div_r.c
gmp-6.2.0/mpn/sec_invert.c
gmp-6.2.0/mpn/sec_mul.c
gmp-6.2.0/mpn/sec_pi1_div_qr.c
gmp-6.2.0/mpn/sec_pi1_div_r.c
gmp-6.2.0/mpn/sec_powm.c
gmp-6.2.0/mpn/sec_sqr.c
gmp-6.2.0/mpn/sec_sub_1.c
gmp-6.2.0/mpn/sec_tabselect.asm
gmp-6.2.0/mpn/set_str.c
gmp-6.2.0/mpn/sizeinbase.c
gmp-6.2.0/mpn/sqr.c
gmp-6.2.0/mpn/sqr_basecase.asm
gmp-6.2.0/mpn/sqr_diag_addlsh1.asm
gmp-6.2.0/mpn/sqrlo.c
gmp-6.2.0/mpn/sqrlo_basecase.c
gmp-6.2.0/mpn/sqrmod_bnm1.c
gmp-6.2.0/mpn/sqrtrem.c
gmp-6.2.0/mpn/strongfibo.c
gmp-6.2.0/mpn/sub.c
gmp-6.2.0/mpn/sub_1.c
gmp-6.2.0/mpn/sub_err1_n.asm
gmp-6.2.0/mpn/sub_err2_n.asm
gmp-6.2.0/mpn/sub_err3_n.asm
gmp-6.2.0/mpn/sub_n.asm
gmp-6.2.0/mpn/sublsh1_n.asm
gmp-6.2.0/mpn/sublsh2_n.asm
gmp-6.2.0/mpn/submul_1.asm
gmp-6.2.0/mpn/tdiv_qr.c
gmp-6.2.0/mpn/toom22_mul.c
gmp-6.2.0/mpn/toom2_sqr.c
gmp-6.2.0/mpn/toom32_mul.c
gmp-6.2.0/mpn/toom33_mul.c
gmp-6.2.0/mpn/toom3_sqr.c
gmp-6.2.0/mpn/toom42_mul.c
gmp-6.2.0/mpn/toom42_mulmid.c
gmp-6.2.0/mpn/toom43_mul.c
gmp-6.2.0/mpn/toom44_mul.c
gmp-6.2.0/mpn/toom4_sqr.c
gmp-6.2.0/mpn/toom52_mul.c
gmp-6.2.0/mpn/toom53_mul.c
gmp-6.2.0/mpn/toom54_mul.c
gmp-6.2.0/mpn/toom62_mul.c
gmp-6.2.0/mpn/toom63_mul.c
gmp-6.2.0/mpn/toom6_sqr.c
gmp-6.2.0/mpn/toom6h_mul.c
gmp-6.2.0/mpn/toom8_sqr.c
gmp-6.2.0/mpn/toom8h_mul.c
gmp-6.2.0/mpn/toom_couple_handling.c
gmp-6.2.0/mpn/toom_eval_dgr3_pm1.c
gmp-6.2.0/mpn/toom_eval_dgr3_pm2.c
gmp-6.2.0/mpn/toom_eval_pm1.c
gmp-6.2.0/mpn/toom_eval_pm2.c
gmp-6.2.0/mpn/toom_eval_pm2exp.c
gmp-6.2.0/mpn/toom_eval_pm2rexp.c
gmp-6.2.0/mpn/toom_interpolate_12pts.c
gmp-6.2.0/mpn/toom_interpolate_16pts.c
gmp-6.2.0/mpn/toom_interpolate_5pts.c
gmp-6.2.0/mpn/toom_interpolate_6pts.c
gmp-6.2.0/mpn/toom_interpolate_7pts.c
gmp-6.2.0/mpn/toom_interpolate_8pts.c
gmp-6.2.0/mpn/trialdiv.c
gmp-6.2.0/mpn/xnor_n.asm
gmp-6.2.0/mpn/xor_n.asm
gmp-6.2.0/mpn/zero.c
gmp-6.2.0/mpn/zero_p.c
gmp-6.2.0/mpq/Makefile
gmp-6.2.0/mpz/Makefile
gmp-6.2.0/printf/Makefile
gmp-6.2.0/rand/Makefile
gmp-6.2.0/scanf/Makefile
gmp-6.2.0/stamp-h1
gmp-6.2.0/tests/Makefile
gmp-6.2.0/tests/cxx/Makefile
gmp-6.2.0/tests/devel/Makefile
gmp-6.2.0/tests/misc/Makefile
gmp-6.2.0/tests/mpf/Makefile
gmp-6.2.0/tests/mpn/Makefile
gmp-6.2.0/tests/mpq/Makefile
gmp-6.2.0/tests/mpz/Makefile
gmp-6.2.0/tests/rand/Makefile
gmp-6.2.0/tune/Makefile
gmp-6.2.0/tune/sqr_basecase.c
libsodium.so.23
libsodium.so.23.3.0
